<!DOCTYPE html>
<html>
  <head>
    <title>TimeKeeper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav nav-pills nav-justified">
      <li><a href="work_time_records">勤務時間記録</a></li>
      <li><a href="work_time_patterns">勤務パターン登録</a></li>
      <li><a href="transportation_expenses">交通費登録</a></li>
      <li><a href="transportation_expense_patterns">交通費パターン登録</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
